QAManagement.WorkingSite/Service References/CommentService/CommentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50115/Services/CommentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50115/Services/CommentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50115/Services/CommentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QAManagement.Data.Services.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommentService_GetCommentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentById" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetCommentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetAllComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllComments" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetAllComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_UpdateComment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComment" />
  </wsdl:message>
  <wsdl:message name="ICommentService_UpdateComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommentService">
    <wsdl:operation name="GetCommentById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/GetCommentById" message="tns:ICommentService_GetCommentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/GetCommentByIdResponse" message="tns:ICommentService_GetCommentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllComments">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/GetAllComments" message="tns:ICommentService_GetAllComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/GetAllCommentsResponse" message="tns:ICommentService_GetAllComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/UpdateComment" message="tns:ICommentService_UpdateComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/UpdateCommentResponse" message="tns:ICommentService_UpdateComment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommentService" type="tns:ICommentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommentById">
      <soap:operation soapAction="http://tempuri.org/ICommentService/GetCommentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllComments">
      <soap:operation soapAction="http://tempuri.org/ICommentService/GetAllComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <soap:operation soapAction="http://tempuri.org/ICommentService/UpdateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentService">
    <wsdl:port name="BasicHttpBinding_ICommentService" binding="tns:BasicHttpBinding_ICommentService">
      <soap:address location="http://localhost:50115/Services/CommentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>